

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(50, 50, 243);
    color: white;
}

.services {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.service-card {
    background: white;
    padding: 15px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}

.service-card img {
    width: 60px;
    margin-bottom: 10px;
}

.service-card h3 {
    margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }
}
